* {
  box-sizing: border-box;
}
body {
  margin: 0;
  -webkit-text-size-adjust: none;
}
@font-face {
  font-display: swap;
  font-family: "Open Sans";
  src: url(/fonts/OpenSans-Regular.woff2);
}
@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-weight: 700;
  src: url(/fonts/OpenSans-Bold.woff2);
}
