#dashboard {
	height: 100%;
	width: 100%;
	position: fixed;
	font-family: "Open Sans", sans-serif;
	display: flex;
	flex-direction: column;
	touch-action: none;
}

@keyframes fade-in {
	from {opacity: 0}
}

body,
#tab-active {
	background-color: lightgrey;
}

iframe {
	display: none;
}

td, th {
	padding: 4px;
}

td:last-child {
	word-break: break-all;
}

/* ios doesn't support this yet */
@supports (overflow-wrap: anywhere) {
	td:last-child {
		word-break: normal;
		overflow-wrap: anywhere;
	}
}

tbody tr:nth-child(2n-1) {
	background-color: darkgrey;
}

form {
	text-align: center;
}

input, textarea, button, select {
	font: inherit;
}

input, textarea {
	flex: 1;
	width: 0;
}

textarea {
	touch-action: none;
}

button {
	margin: 4px;
}

label {
	width: 100px;
}

#tabs {
	display: table-row;
	background-color: white;
}

.tab {
	display: table-cell;
	cursor: pointer;
	padding: 6px;
	text-align: center;
	vertical-align: middle;
}

#tab-container {
	overflow: auto;
}

.tab-content {
	animation: fade-in 1s forwards;
	display: none;
}

#tab-visible {
	display: block;
}

#donation-table {
	width: 100%;
	border-collapse: collapse;
}

#donation-form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form-area {
	align-items: center;
	display: flex;
	padding: 4px;
	width: 100%;
	max-width: 600px;
}

.required::after {
	content: " *";
	color: red;
}
