#widget {
	display: flex;
	position: fixed;
	inset: 0;
	flex-direction: column;
	font: 2em "Open Sans", sans-serif;
	justify-content: space-evenly;
	opacity: 0;
	text-align: center;
	transition: opacity 1s;
}

#widget.playing {
	opacity: 1;
}

img,
video {
	max-height: 100%;
	max-width: 100%;
}

#alert-image-box {
	min-height: 0;
}

#alert-text {
	color: white;
	text-shadow: 0 0 3px black;
}

#alert-message {
	font-size: 1.5em;
	font-weight: bold;
}

.highlight {
	color: orange;
}
