#widget {
	display: flex;
	position: relative;
	background: linear-gradient(white, lightgray);
	box-shadow: 0 0 3px;
	border-radius: 8px;
	font: 1.5em / 48px "Open Sans", sans-serif;
	justify-content: space-between;
	margin: 8px;
	padding: 0 10px;
	white-space: nowrap;
}

div {
	z-index: 0;
}

#progress-bar {
	position: absolute;
	inset: 0;
	min-width: 10px;
	max-width: 100%;
	background: linear-gradient(#ffd280, orange);
	border-radius: inherit;
	box-shadow: 0 0 2px;
	transition: width 2s ease-in-out;
}

#goal-name,
#goal-amount {
	font-weight: bold;
}
